<div class="container">
  <div class="row">
    <div class="col s12 m8" id="pieChart"></div>
    <div id="pieText" class="s12 m4 col text-container">
      <h5 id="segmentTitle">Select Segment</h5>
    </div>
  </div>
</div>
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Comment</th>
          <th>Item Price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>01/12/2018</td>
          <td>Entertainment</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>
            <div class="material-icons edit-expense">create</div>
            <div class="material-icons delete-expense">delete</div>
          </td>
        </tr>
        <tr>
          <td>01/11/2018</td>
          <td>Food</td>
          <td>Jellybean</td>
          <td>$3.76</td>
          <td>
            <div class="material-icons edit-expense">create</div>
            <div class="material-icons delete-expense">delete</div>
          </td>
        </tr>
        <tr>
          <td>01/11/2018</td>
          <td>Food</td>
          <td>Lollipop</td>
          <td>$7.00</td>
          <td>
            <div class="material-icons edit-expense">create</div>
            <div class="material-icons delete-expense">delete</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
