<div class="dashboard-container">
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col s12 m8" id="pieChart"></div>
      <div id="pieText" class="s12 m4 col text-container">
        <h5 id="segmentTitle">Select Segment</h5>
      </div>
    </div>
  </div>

</div>
   
       <table id="table1" class="responsive-table highlight">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Comment</th>
          <th>Item Price</th>
          <th>Options</th>
        </tr>
      </thead>

    <tbody id="tb_display">

      </tbody>
  </table>
  </div>
</div>
