<div id="delete-expense" class="modal" style="z-index: 1003; opacity: 1; min-height: 0 !important; transform: scaleX(1); top: 10%;">
    <div class="modal-content">
        <h4>Delete Entry</h4>
        <p>Are you sure you want to delete this entry?</p>
    </div>
    <div class="modal-footer">
        <div class="modal-action modal-close waves-effect btn-flat" id="confirm_delete">Ok</div>
        <div class="modal-action modal-close waves-effect btn-flat">Cancel</div>
    </div>
</div>
