<footer class="page-footer blue darken-1">
  <div class="footer-copyright blue darken-3">
    <div class="container">
      <div class="row">
        <br>
        <div class="s12 m6 col white-text">
          <h5>Rocket Money &reg; 2018</h5>
          <span>Know Your Money</span>
        </div>
        <div class="s12 m6 col">
          <ul>
            <li>
              <a class="white-text" href="https://github.com/garrettbear" target="_blank">Garrett Whisten</a>
            </li>
            <li>
              <a class="white-text" href="https://github.com/codechennerator" target="_blank">Nathan Chen</a>
            </li>
            <li>
              <a class="white-text" href="https://github.com/liuzhongiceman" target="_blank">Zhong Liu</a>
            </li>
          </ul>
        </div>
        <br>
      </div>
    </div>
  </div>
</footer>
