  <footer class="page-footer teal">
    <div class="footer-copyright black lighter-1">
      <div class="container">
        <div class="row">
          <br>
          <div class="s12 m6 col">
            <h5>Rocket Money Project &reg; 2018</h5>
          </div>
          <div class="s12 m2 col">
            <h5>Garrett</h5>
          </div>
          <div class="s12 m2 col">
            <h5>Nathan</h5>
          </div>
          <div class="s12 m2 col">
            <h5>Iceman</h5>
          </div>
          <br>
        </div>
      </div>
    </div>
  </footer>
