<div class="row card-content">
  <h4 class="center-align">CREATE ACCOUNT</h4>
  <div class="s12 col">
    <form id="signup" name="signup" method="post" action="/signup">
      <div class="row">
        <div class="input-field col s12">
          <label for="fname">First Name</label>
          <input class="text" type="text" name="fname">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="lname">Last Name</label>
          <input class="text" type="text" name="lname">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="username">Username</label>
          <input class="text" name="username" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Password</label>
          <input name="password" type="password" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="password2">Re-Type Password</label>
          <input name="password2" type="password" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="btn-large" type="submit" value="Sign Up" />
        </div>
      </div>
    </form>
  </div>
</div>
