{{> indexnav}}

  <div class="container">
    <div class="section">
      <br>
      <div class="container login-account-card" id="login-account-card">
        <div class="row">
          <div class="s12 l10 offset-l1 col">
            <div class="card">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab">
                    <a href="#login-tab">LOG IN</a>
                  </li>
                  <li class="tab">
                    <a class="active" href="#create-account-tab">CREATE ACCOUNT</a>
                  </li>
                </ul>
              </div>
              <div class="card-content">
                <div id="login-tab">
                  {{> signin}}
                </div>
                <div id="create-account-tab">
                  {{> signup}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> footer}}
