{{> dashboardnav}}

{{!-- <div class="main-container">
  <div class="container">
    <div class="row">
      <div class="s12 col">
        <div class="d3-chart">
          <!-- THIS IS THE CONTAINER USED FOR DISPLAYING THE D3 CHART -->
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="container">
  <div class="row">
    <div class="s12 col">
      <div class="d3table">

      </div>
    </div>
  </div>
</div> --}}
<div class="main-container">
  <div class="container">
    {{> dashboardtable}} {{> editexpense}}
  </div>
  <div class="container">
    {{> delete}}
  </div>
</div>

{{> moneyinput}} 

{{> footer}}
