{{> indexnav}}
  <div id="index-banner" class="parallax-container">
    <div class="section">
      <div class="container">


        <h1 class="header center teal-text text-lighten-2">Money Rocket</h1>
        <div class="row center">
          <h5 class="header col s12 light">An application to help promote financial self control.</h5>
        </div>
        <div class="row center">
          <a href="/signup" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>


      </div>
    </div>
    <div class="parallax">
      <img src="/assets/images/background1.jpg" alt="Unsplashed background img 1">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <br>
        <br>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Quick Analysis</h5>

            <p class="light center-align">Lighting fast data results providing you with visually stunning charts of your expenses.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text">
              <i class="material-icons">group</i>
            </h2>
            <h5 class="center">Designed For You</h5>

            <p class="light center-align">Simplicity is what we strive for to help provide a simple experience without the headache..</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center teal-text">
              <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Built Secure</h5>

            <p class="light center-align">Your data is important and is meant for your eyes only, Money Rocket is safe and secure.</p>
          </div>
        </div>
      </div>
      <br>
      <br>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">

    </div>
    <div class="parallax">
      <img src="/assets/images/background2.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="container">
    <div class="section">
      <br>
      <div class="container login-account-card" id="login-account-card">
        <div class="row">
          <div class="s12 l10 offset-l1 col">
            <div class="card">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab">
                    <a class="" href="#login-tab">LOG IN</a>
                  </li>
                  <li class="tab">
                    <a class="active" href="#create-account-tab">CREATE ACCOUNT</a>
                  </li>
                </ul>
              </div>
              <div class="card-content">
                <div id="login-tab">
                  {{> signin}}
                </div>
                <div id="create-account-tab">
                  {{> signup}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Spend Your Money Wisely</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/assets/images/background3.jpg" alt="Unsplashed background img 3">
    </div>
  </div>

{{> footer}}
