{{> indexnav}}
<div id="index-banner" class="parallax-container parallax-hero">
  <div class="section">
    <div class="container">


      <h2 class="header center white-text logo1">
        MONEY<span>ROCKET</span>
      </h2>
      <div class="row center">
        <h5 class="header col s12 light">An application to help promote financial self control.</h5>
      </div>
      <div class="row center">
        <a href="/signup" class="btn-large waves-effect waves-light pink lighten-2">Get Started</a>
      </div>


    </div>
  </div>
  <div class="parallax">
    <img src="/assets/images/background1a.jpg" alt="Unsplashed background img 1">
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <br>
      <br>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-1">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Quick Analysis</h5>

          <p class="light center-align">Lighting fast data results providing you with visually stunning charts of your expenses.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-1">
            <i class="material-icons">fingerprint</i>
          </h2>
          <h5 class="center">Designed For You</h5>

          <p class="light center-align">Simplicity is what we strive for to help provide a simple experience without the headache..</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-1">
            <i class="material-icons">lock</i>
          </h2>
          <h5 class="center">Built Secure</h5>

          <p class="light center-align">Your data is important and is meant for your eyes only, Money Rocket is safe and secure.</p>
        </div>
      </div>
    </div>
    <br>
    <br>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Keep track of your expenses and spend your money with intelligence.</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="/assets/images/farm.png" alt="Unsplashed background img 2">
  </div>
</div>

<div class="container">
  <div class="section">
    <br>
    <div class="row">
      <div class="s12 m8 push-m2 col">
        <br>
        <br>
        <h5 class="center">Don'y let your money burn up like rocket fuel. Visually stunning graphs that display where most of your money is being spent.</h5>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>


{{> footer}}
