<div class="container">
  <div class="row">
    <div class="col s6" id="pieChart"></div>
    <div id="pieText" class="s6 col text-container">
      <h1 id="segmentTitle">Select Segment</h1>
      <p id="segmentText">Lots of text...</p>
    </div>
  </div>
</div>
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Date</th>
          <th>Category</th>
          <th>Comment</th>
          <th>Item Price</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>01/12/2018</td>
          <td>Entertainment</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>01/11/2018</td>
          <td>Food</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>01/11/2018</td>
          <td>Food</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
      </tbody>
    </table>
  </div>
