  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Money Rocket</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Log Out</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="/logout">Log Out</a>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons black">dehaze</i>
      </a>
    </div>
  </nav>
