  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo teal-text text-lighten-2">Money Rocket</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="black-text" href="#login-tab">Log In</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="#login-account-card">Log In</a>
        </li>
      </ul>
      <a href="#login-account-card" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">dehaze</i>
      </a>
    </div>
  </nav>
