{{!-- <div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <label for="username">Username</label>
        <input class="text" name="username" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
</div>  --}}


<div class="card-content">
  <div class="row">
    <h4 class="center align">LOG IN</h4>
    <!-- LOGIN FORM START id="login-btn" -->
    <form action="signin" name="signin" method="post" action="signin" class="s12 col">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="submit" id="login-btn" class="submit btn-large" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
